*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --black-color: #000;
  --white-color: #fff;
  --darker-white-color: #f5f5f5;
  --lighter-black-color: #252525;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
div {
  font-family: "Geist", sans-serif;
}

.dark-theme {
  background-color: var(--black-color);
  color: var(--white-color);
}

.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.7rem;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-links {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 6px;
}

.nav-links:hover {
  background-color: var(--darker-white-color);
}

main {
  margin-top: 4rem;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 6px;
}

.btn-link {
  text-decoration: none;
  color: var(--white-color);
}

.btn:hover {
  opacity: 85%;
}

.project-heading,
.contact-header {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.project-card {
  max-width: 25rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.tech-used {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tech-marker {
  display: inline-block;
  margin-right: 0.2rem;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #66ff00;
}

.tech-item {
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.project-desc {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projects-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.more-btn {
  display: block;
  margin: 3rem auto 0 auto;
  padding: 1rem 1.3rem 1rem 1.3rem;
  font-size: 1rem;
}

.social-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-card {
  cursor: pointer;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 6px;
}

.social-card:hover {
  background-color: var(--darker-white-color);
}

.social-links {
  color: var(--black-color);
}

/* Dark Theme */
body.dark-theme .nav-links,
body.dark-theme .social-links {
  color: var(--white-color);
}

body.dark-theme .nav-links:hover,
body.dark-theme .social-card:hover {
  background-color: var(--lighter-black-color);
}

body.dark-theme .btn {
  background-color: var(--white-color);
}

body.dark-theme .btn-link {
  color: var(--black-color);
}

body.dark-theme .nav-bar {
  background-color: var(--black-color);
}

body.dark-theme .tech-item,
body.dark-theme .project-card {
  box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px,
    rgba(255, 255, 255, 0.24) 0px 1px 2px;
}
/* Dark Theme End */
